<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--  
		th:each
		여러 개의 데이터를 가지고 있는 컬렉션 데이터를 화면에 출력하는 방법
	-->
	<h1>상품 리스트 출력 예제</h1>
	<table border = "1">
		<thead>
			<tr>
				<td>순번</td>
				<td>상품명</td>
				<td>가격</td>
				<td>등록일</td>
			</tr>				
		</thead>
		<tbody>
			<!-- 
				th:each를 이용하면 자바의 for문처럼 반복문을 사용할 수 있다.
				전달받은 itemDtoList에 있는 데이터를 하나씩 꺼내어 ItemDto에 담는다.
				status에는 현재 반복에 대한 상태 데이터가 존재한다.
				변수명은 status대신 다른 것을 사용해도된다.
			 -->
			<tr th:each="itemDto, status:${itemDtoList}">
				<td th:text="${status.index}"></td>
				<td th:text="${itemDto.itemNm}"></td>
				<td th:text="${itemDto.itemDetail}"></td>
				<td th:text="${itemDto.price}"></td>
				<td th:text="${itemDto.regTime}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>